@charset "utf-8";

@import "spritesmith_function";

// 중복되는 아이콘명이 있을때 충돌나지 않게 spritesheet와 sprite를 연결해주고,
// 사용된 선택자만 속성을 추가해주는 mixin
@mixin sprite-init($spritesheets, $retina:false){
	$background-name: nth($spritesheets, 4);
	$background-size-width: nth($spritesheets, 1);
	$background-size-height: nth($spritesheets, 2);
	$background-image-url: nth($spritesheets, 3);
	$background-image-url-pc: str-replace(nth($spritesheets, 3),'.png','_pc.png');

	%#{$background-name}{
		background-image: url($background-image-url);
		background-repeat: no-repeat;
		@if $retina == true{
			background-image: url($background-image-url-pc) \9;
			-webkit-background-size: ($background-size-width / 2) ($background-size-height / 2);
			background-size: ($background-size-width / 2) ($background-size-height / 2);
		}
	}
}

//실제 사용하는 sprite mixin
@mixin set-sprite($sprite, $spritesheets, $retina:false, $display:inline-block, $mediaquery:false) {
	//extend는 media query 내부에서 사용되면 컴파일 오류를 발생시키기 때문에
	//mediaquery 내부에서 sprite를 사용하는경우 $mediaquery를 true로 변경
	$spritesheets-name: nth($spritesheets, 4);

	@if $mediaquery == false{
		@extend %#{$spritesheets-name};
	}
	@if $display != null{
		display: $display;
	}
	width: get-sprite-width($sprite, $retina);
	height: get-sprite-height($sprite, $retina);
	background-position: get-sprite-position($sprite, $retina);
}

@mixin set-spritesheets-size($sprite, $retina:false) {
	$sprite-background-width: nth($sprite, 7);
	$sprite-background-height: nth($sprite, 8);
	@if $retina == true {
		-webkit-background-size: ($sprite-background-width / 2) ($sprite-background-height / 2);
		background-size: ($sprite-background-width / 2) ($sprite-background-height / 2);
	}@else{
		-webkit-background-size: ($sprite-background-width) ($sprite-background-height);
		background-size: ($sprite-background-width) ($sprite-background-height);
	}
}

@mixin set-sprite-image($spritesheets, $retina:false, $repeat-option:false) {
	$background-image-url: nth($spritesheets, 3);
	$background-image-url-pc : str-replace($background-image-url, '.png', '_pc.png');

	@if $retina == true{
		background-image: url($background-image-url);
		background-image: url($background-image-url-pc) \9;
	}@else{
		background-image: url($background-image-url);
	}
	@if ($repeat-option){
		background-repeat: $repeat-option;
	}
}