@charset "utf-8";

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

@function get-sprite-map($sprite, $spritesheet){
	@return map_get($spritesheet, $sprite);
}

@function get-spritesheet-name($spritesheet){
	@return nth( map-keys($spritesheet), 1);
}

@function get-spritesheet-map($spritesheet){
	@return map-get($spritesheet, get-spritesheet-name($spritesheet));
}

@function get-spritesheet-width($spritesheet){
	@return nth(get-spritesheet-map($spritesheet), 1);
}

@function get-spritesheet-height($spritesheet){
	@return nth(get-spritesheet-map($spritesheet), 2);
}

@function get-spritesheet-url($spritesheet){
	@return nth(get-spritesheet-map($spritesheet), 3);
}

@function get-sprite-width($sprite, $spritesheet, $retina:true, $offsetX:0) {
	$sp-width: nth(get-sprite-map($sprite, $spritesheet), 3);
	@return if($retina, $sp-width/2, $sp-width) + $offsetX;
}

@function get-sprite-height($sprite, $spritesheet, $retina:true, $offsetY:0) {
	$sp-height: nth(get-sprite-map($sprite, $spritesheet), 4);
	@return if($retina, $sp-height/2, $sp-height) + $offsetY;
}

@function get-sprite-positionX($sprite, $spritesheet, $retina:true, $offsetX:0) {
	$sp-position-X: nth(get-sprite-map($sprite, $spritesheet), 1);
	@return if($retina, $sp-position-X/2, $sp-position-X) + $offsetX;
}

@function get-sprite-positionY($sprite, $spritesheet, $retina:true, $offsetY:0) {
	$sp-position-Y: nth(get-sprite-map($sprite, $spritesheet), 2);
	@return if($retina, $sp-position-Y/2, $sp-position-Y) + $offsetY;
}

@function get-sprite-position($sprite, $spritesheet, $retina:true) {
	$sprite-position-X: get-sprite-positionX($sprite, $spritesheet, $retina);
	$sprite-position-Y: get-sprite-positionY($sprite, $spritesheet, $retina);
	@return ($sprite-position-X) ($sprite-position-Y);
}